@media screen and (max-width: 1060px) {
    .h1text {
        font-size: 30px;
    }

}

@media screen and (max-width: 800px) {
    .header-div{
        display: flex;
        /* justify-content: flex-end; */
        /* padding: 20px 20px 20px 0px; */
    }
    .ul{
        /* justify-content: flex-end; */
    }
    .nav{
        margin-top: 0px;
    }
    .ul{
        height: auto;
    }
    .header-div, .nav-list {
        width: 100%;
    }
    .nav-list {
        display: none;
        
    }
    /* .logo { */
    /* .logo {
        display: block;
        
    } */
    .logo{
        transform: none;
        width: 80px;
        transform: translateY(-6px);
    }
    .burger{
        margin-right: 20px;
    }

    .bars {
        font-size: 30px;
        color: #deb887;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}